<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tableau de bord Harvester</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px;
        }

        h1, h2 {
            color: #ff6600;
        }

        main {
            padding: 20px;
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }

        section {
            background-color: white;
            border-radius: 10px;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        footer {
            background-color: #333;
            padding: 20px;
            text-align: center;
        }

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #ff6600;
            color: white;
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        button:hover {
            background-color: #e65500;
        }
		
		button, section {
            transition: transform 0.3s ease-in-out;
        }

        button:hover, section:hover {
            transform: scale(1.05);
        }
    </style>
    
</head>
<body>
    
    <header>
        <h1>Tableau de bord Harvester</h1>
    </header>
    <main>
        <section class="info-panel">
            <h2>Informations</h2>
            <p>Adresse IP locale: <span id="localIP">{{local_ip}}</span></p>
            <p>Nom de la VM: <span id="vmName">{{vm_name}}</span></p>
            <!-- Ajoutez d'autres informations ici en utilisant des balises appropriées -->
        </section>
        <section class="scan-results">
            <h2>Résultats du Scan Réseau</h2>
            <p>Nombre Machines: <span id="lastScanResult">{{count_machine}}</span></p>
            <p>Dernier Scan: <span id="comptScanResult"><pre>{{complet}}</pre></span></p>
            <!-- Intégrer les résultats du scan ou un lien vers le rapport ici -->
        </section>
        <section class="wan-latency">
            <h2>Latence WAN</h2>
            <p>Latence moyenne: <span id="avgLatency">{{rtt}} ms</span></p>
            <!-- Affichage de la latence WAN -->
        </section>
        <section class="app-version">
            <h2>Version de l'Application</h2>
            <p>Version: <span id="appVersion"></span></p>
            <!-- Affichage de la version de l'application -->
        </section>
        <!-- Intégration d'autres fonctionnalités et sections ici -->
    </main>
	<footer>
        
    <form action="/" method="get">
        <button id="scanButton">Lancer le Scan</button>
        <input type="hidden" name="result" value="{{ result }}">
    </form>
    <form action="http://192.168.1.57:8080/job/mspr-original/build" method="post">
        <button id="updateButton" type="submit">Mettre à jour l'application</button>
    </form>
        <!-- Bouton pour mettre à jour l'application depuis le dépôt GitLab -->
    </footer>
   <script>
        const buttons = document.querySelectorAll('button');
        const sections = document.querySelectorAll('section');
        const input = document.querySelectorAll('input');

        buttons.forEach(button => {
            button.addEventListener('mouseover', () => {
                button.style.transform = 'scale(1.1)';
            });

            button.addEventListener('mouseout', () => {
                button.style.transform = 'scale(1)';
            });
        });

        sections.forEach(section => {
            section.addEventListener('mouseover', () => {
                section.style.transform = 'scale(1.05)';
            });

            section.addEventListener('mouseout', () => {
                section.style.transform = 'scale(1)';
            });
        });
    </script>
    
</body>
</html>
